#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

// 親指LT機能の連打バグ防止設定

&lt { quick_tap_ms = <200>; };

/ {
    chosen {
        // スペースキーが中央2U（MITレイアウト）であることを明示

        zmk,physical-layout = &mit_layout;
    };

    keymap {
        compatible = "zmk,keymap";

        // ==========================================
        // レイヤー 0 : デフォルト（Base）レイヤー
        // ==========================================

        base_layer {
            label = "Base";
            bindings = <
                                                                                      &trans      &mo 3     &kp C_PP
&kp GRAVE  &kp N1    &kp N2    &kp N3  &kp N4  &kp N5     &kp N6   &kp N7  &kp N8     &kp N9      &kp N0    &kp BACKSPACE
&kp TAB    &kp Q     &kp W     &kp E   &kp R   &kp T      &kp Y    &kp U   &kp I      &kp O       &kp P     &kp MINUS
&kp ESC    &kp A     &kp S     &kp D   &kp F   &kp G      &kp H    &kp J   &kp K      &kp L       &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C   &kp V   &kp B      &kp N    &kp M   &kp COMMA  &kp PERIOD  &kp UP    &kp LC(SINGLE_QUOTE)
&kp LCTRL  &kp LGUI  &kp LALT  &mo 3   &mo 1   &kp SPACE  &kp DEL  &mo 2   &kp SLASH  &kp LEFT    &kp DOWN
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        // ==========================================
        // レイヤー 1 : テンキー（Lower）レイヤー
        // ==========================================

        lower_layer {
            label = "Lower";
            bindings = <
                                                                                        &trans           &trans        &kp HOME
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans      &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp KP_MINUS  &kp KP_EQUAL
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &kp KP_N7   &kp KP_N8      &kp KP_N9        &kp KP_MINUS  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &kp KP_N4   &kp KP_N5      &kp KP_N6        &kp KP_PLUS   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &kp KP_N1   &kp KP_N2      &kp KP_N3        &kp KP_PLUS   &trans
&trans  &trans  &trans  &trans  &trans  &kp BKSP  &kp KP_N0  &kp KP_DOT  &trans         &kp KP_ENTER     &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        // ==========================================
        // レイヤー 2 : 記号・ファンクション（Raise）レイヤー
        // ==========================================

        raise_layer {
            label = "Raise";
            bindings = <
                                                                                     &kp F11    &kp F12     &trans
&kp ESC    &kp F1  &kp F2    &kp F3  &kp F4  &kp F5  &kp F6    &kp F7    &kp F8      &kp F9     &kp F10     &kp DEL
&kp GRAVE  &trans  &trans    &trans  &trans  &trans  &kp BSLH  &kp LBRC  &kp RBRC    &kp LBKT   &kp RBKT    &kp BKSP
&kp CAPS   &trans  &trans    &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP      &kp RIGHT  &trans      &trans
&trans     &trans  &trans    &trans  &trans  &trans  &trans    &trans    &trans      &trans     &trans      &trans
&trans     &trans  &kp RALT  &trans  &trans  &trans  &trans    &trans    &kp C_PREV  &kp C_PP   &kp C_NEXT
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        // ==========================================
        // レイヤー 3 : システム・メディア（Function）レイヤー
        // ==========================================

        func_layer {
            label = "Function";
            bindings = <
                                                                                                            &trans  &trans      &trans
&out OUT_TOG  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans      &trans
&trans        &trans        &kp C_VOL_UP  &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans      &trans
&trans        &kp C_PREV    &kp C_VOL_DN  &kp C_NEXT    &trans        &trans        &trans  &trans  &trans  &trans  &trans      &trans
&trans        &trans        &kp C_MUTE    &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans      &trans
&bootloader   &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &bt BT_CLR
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
    };
};
